{% extends "base.html" %}
{% block title %}healthcare - Home{% endblock %}

{% block content %}

<div class="container my-3">
    <h1>HEALTHCARE CARTAGENA</h1>
    <div class="container">
            <div class="col-md-8">
                <p>Healthcare Cartagena es una empresa que se dedica a la venta de productos de salud y bienestar, 
                con el fin de mejorar la calidad de vida de las personas. 
                Nuestros productos son de alta calidad y cuentan con los registros sanitarios necesarios para su comercialización.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}