{% extends "base.html" %}
{% block title %} healthcare - login {% endblock %}

{% block content %}

<div class="container text-center my-5">
    <div class="row">
        <div class="col-md-12">
            <h4>INICIO DE SESION</h4>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 my-5">
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Medico</h5>
              <p class="card-text my-5">inicie sesion con sus credenciales medicas.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"></small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paciente</h5>
              <p class="card-text my-5">inicie sesion con sus crendeciales de Paciente</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"></small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Entidades externas</h5>
              <p class="card-text my-5">inicie sesion con sus credenciales de entidad externas</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"></small>
            </div>
          </div>
        </div>
    </div> 
</div> 

{% endblock %}